/* import de police */

@font-face {
    font-family: Parkinsans;
    src: url('../src/fonts/Parkinsans-Regular.ttf');
}

/* body/main/textes */

body {
    font-size: 1em;
    margin: 0;
    width: 100%;
    height: 100vh;
    color: black;
    font-family: Parkinsans, Arial, Helvetica, sans-serif;
    background-color: white;
}

main {
    height: 80%;
    width: 100%;
}

h1 {
    font-size: xx-large;
    font-weight: 600;
}

h2 {
    font-size: x-large;
    font-weight: 300;
}

/* styles généraux des cartes (sections) */

section {
    background-color: rgba(0, 0, 0, 0.1);
    border: 0px solid black;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
 
section h1 {
    margin: 0;
}

section h2 {
    margin: 0;
    font-size: larger;
    font-weight: 900;
}

section h3 {
    margin: 0;
    font-size: large;
}

section p {
    height: fit-content;
    font-size: medium;
    margin: 0;
}

section img {
    width: 90%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

/* media query pour appliquer le style seulement sur les appareils pouvant hover */

@media (any-hover : hover) {
    section:hover {
        transform: scale(0.95);
    }
}

/* Menu de navigation / header */

header {
    width: 100%;
    height: 10%;
    font-weight: 600;
    font-size: x-large;
}

nav {
    height: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    height: 100%;
    justify-content:space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: 0.4s; /* transition donne le temps pour lequel le contenu dans le selecteur :hover met à s'appliquer inverse les couleurs pour indiquer au passage de la souris que les boutons sont des boutons */
}

@media(any-hover : hover) {
    nav ul li a:hover {
        background-color: black;
        color: white;
    }
}

/* footer / liens dans le footer */

footer{
    height: 10%;
}

footer ul {
    list-style-type: none;
    display: flex;
    height: 100%;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

footer ul li {
    width: 30%; /* Pour éviter que le grossissement au survol ne déforme le footer*/
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul li a {
    display: flex;
    justify-content: center;
}

#github{
    width: 40%;
    height: auto;
    transition: 0.4s; /* transition donne le temps pour lequel le contenu dans le selecteur :hover met à s'appliquer */
}

/* media query pour appliquer le style seulement sur les appareils pouvant hover */

@media (any-hover: hover) {
    #github:hover {
        transform: scale(1.5); /* transform: scale() permet de modifier la taille de l'élément (en restant sur le même centre) */
    }
}

.footext{
    text-decoration: none;
    color: black;
    width: 40%;
    height: auto;
    transition: 0.4s
}

/* media query pour appliquer le style seulement sur les appareils pouvant hover */

@media (any-hover: hover) {
    .footext:hover {
        transform: scale(1.5);
        font-weight: 900;
    }
}

/* Styles de la page "terre" */

#terre {
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
    flex-flow: wrap-reverse;
}

#terre section {
    width: 95%;
    height: 95%;
}

#terre section img {
    border-radius: 20px 20px 0px 0px; /* généré à partir de : https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_backgrounds_and_borders/Border-radius_generator */
    width: 100%;
    height: 40%;
    justify-self: start;
}

/* Style de la page des missions */

#missions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap column;
}

#missions section {
    width: 30%;
    height: 90%;
}

#missions section img {
    border-radius: 20px 20px 0px 0px; /* généré à partir de : https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_backgrounds_and_borders/Border-radius_generator */
    width: 100%;
    height: 40%;
    justify-self: start;
}

/* Style de la page sur apollo 11 */

#apollo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#apollo section {
    width: 95%;
    height: 95%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#apollo section p {
    width: 30%;
}

#apollo section img {
    width: 30%;
    height: 45%;
}

/* Styles de la page d'accueil */

#accueil  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

video {
    position: relative;
    object-fit: cover; /*object fit précise la facon dont l'élément doit remplir son conteneur (image étirée ou comblante) */
    width: 100%;
    height: 60%;
}

/* styles de la page de contact */

#rate {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

input {
    width: 100%;
    padding: 0;
}

button {
    width: 100%;
    border: none;
    padding: 0;
}

#text {
    height: 100px;

    input {
        height: 80%;
    }
}

/* media querrys pour allonger la page sur les petits écrans*/

@media (width <= 650px) {

    main {
        height: 110%;
    }



}

@media (width <= 500px) {
    
    main {
        height: 130%;
    }

}